/* FOR LAPTOP */
@media screen and (max-width: 1024px) {
  .main-section{
    grid-template-columns: repeat(3,1fr);
  }
}
/* FOR TABLE */
@media screen and (max-width: 768px) {
  .main-section{
    grid-template-columns: repeat(2,1fr);
  }
}
/* FOR SMARTPHONE */
@media screen and (max-width: 640px) {
  .main-section{
    grid-template-columns: repeat(1,1fr);
  }
}
