*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  font-size: 62.5%;
}
body{
  width: 100%;
  font-family: sans-serif;
  background-color: darkslategrey;
}
.main-container{
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
}
.main-section{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 1rem;
  gap: 1rem;
  position: relative;
}
.main-section .add-btn{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main-section .add-btn button{
  padding: 0.75rem 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.main-section .add-btn button:hover{
  background-color: #ad0606;
  color: white;
}
.main-section .note-container{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 100%;
  padding: 1rem;
  background-color: brown;
  min-height: 300px;
  border-radius: 5px;
}
.note-container .header-section{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 1rem;
}
.note-container .header-section i{
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.note-container .content-section{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.note-container .content-section textarea{
  width: 100%;
  height: 90%;
  resize: none;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 600;
  border-radius: inherit;
  background-color: #beb4b4;
}