*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  font-size: 62.5%;
}
body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: darkslategrey;
}
.main-container{
  max-width: 1280px;
  min-height: 100vh;
  margin-inline: auto;
  position: relative;
}
.header-section{
  padding: 1rem;
}
.hamburger-icon-section .hamburger-btn{
  border: none;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  color: #e5e7eb;
}
.sidebar-section{
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: #1e293b;
}
.sidebar-section .cross-icon{
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 43%;
  top: 1%;
}
.sidebar-section .cross-icon button{
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #e5e7eb;
  cursor: pointer;
}
.sidebar-section-hidden{
  transform: translateX(-100%);
}
.company-logo-section h1{
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -2px;
  display: flex;
  justify-content: center;
  color: #e5e7eb;
}
.links-section ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.links-section ul li{
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.links-section ul li a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
.social-media-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.social-media-links ul li{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.social-media-links ul li a{
  text-decoration: none;
  font-size: 1.5rem;
}
.social-media-links ul li a .facebook{
  color:#1877F2;
}
.social-media-links ul li a .twitter{
  color:#1DA1F2;
}
.social-media-links ul li a .instagram{
  color:#E1306C;
}
.social-media-links ul li a .youtube{
  color:#FF0000;
}

