*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  width: 100%;
}
body{
  width: 100%;
  font-family: sans-serif;
  background-color: darkslategrey;
}
.main-container{
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: brown;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.main-section .question{
  padding: 0 1rem;
}
.main-section .question h1{
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -2px;
  color: #c0a3a3;
}
.main-section .input{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  padding: 1rem;
  border-radius: 5px;
  color: #c0a3a3;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.main-section .submit-btn{
  display: flex;
  flex-direction: column;
}
.main-section .submit-btn button{
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: bold;
  border: none;
  padding: 0.75rem 0;
  background-color: #3c3cd3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}