*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  font-size: 62.5%;
}
body{
  width: 100%;
  font-family: sans-sarif;
}
.main-container{
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.analog-clock-app{
  width: 30rem;
  height: 30rem;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.analog-clock-app span{
  position: absolute;
  transform-origin: center;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}
.center-point{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
}
.hour-hand{
  transform: translateY(-50%);
  width: 5px;
  height: 60px;
  border-radius: 10px;
  background-color: black;
}
.minute-hand{
  transform: translateY(-50%);
  width: 5px;
  height: 80px;
  border-radius: 10px;
  background-color: red;
}
.second-hand{
  transform: translateY(-50%);
  width: 5px;
  height: 100px;
  border-radius: 10px;
  background-color: green;
}
.one{
  transform: rotate(30deg) translateY(-13rem) rotate(-30deg);
}
.two{
  transform: rotate(60deg) translateY(-13rem) rotate(-60deg);
}
.three{
  transform: rotate(90deg) translateY(-13rem) rotate(-90deg);
}
.four{
  transform: rotate(120deg) translateY(-13rem) rotate(-120deg);
}
.five{
  transform: rotate(150deg) translateY(-13rem) rotate(-150deg);
}
.six{
  transform: rotate(180deg) translateY(-13rem) rotate(-180deg);
}
.seven{
  transform: rotate(210deg) translateY(-13rem) rotate(-210deg);
}
.eight{
  transform: rotate(240deg) translateY(-13rem) rotate(-240deg);
}
.nine{
  transform: rotate(270deg) translateY(-13rem) rotate(-270deg);
}
.ten{
  transform: rotate(300deg) translateY(-13rem) rotate(-300deg);
}
.eleven{
  transform: rotate(330deg) translateY(-13rem) rotate(-330deg);
}
.twelve{
  transform: rotate(360deg) translateY(-13rem) rotate(-360deg);
}