@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  font-size: 62.5%;
}
body{
  width: 100%;
  font-family: sans-serif;
  background-color: #FE7F2D;
}
.main-container{
  max-width: 1280px;
  margin-inline: auto;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* START QUIZ CONTAINER */
.start-quiz-container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  gap: 1rem;
  border-radius: 5px;
  background-color: #FF5B5B;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.start-quiz-screen{
  display: none;
}
.start-quiz-title h2{
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: -2px;
  color: #994a06;
}
.start-quiz-greeting p{
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 600;
  color: #F0FFC3;
}
.start-quiz-btn{
  border-radius: 5px;
}
.start-quiz-btn button{
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: bold;
  border: none;
  border-radius: inherit;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  cursor: pointer;
  background-color: #9CCFFF;
  color: #FF9644;
}
.start-quiz-btn button:hover{
  background-color: #685AFF;
  transition: all 0.3s ease;
}
/* QUESTION CONTAINER SECTION */
.quiz-question-container{
  width: 100%;
  max-width: 60rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: #FF5B5B;
}
.quiz-question-screen{
  display: none;
}
.question-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-container h1{
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -2px;
}
.counting-container{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
}
.question-option-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.option button{
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 600;
  padding: 0.75rem;
  border: none;
  background-color: #FAB95B;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  cursor: pointer;
}
.option button:hover{
  background-color: #cc8b31;
  transition: all 0.5s ease;
}
.progress-container{
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.progress{
  height: 10px;
  width: 30%;
  background-color: orange;
  border-radius: inherit;
}
/* QUIZ RESULT SECTION */
.quiz-result-container{
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.quiz-result-screen{
  display: none;
}
.quiz-result-title h2{
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -2px;
}
.quiz-result{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: #FAB95B;
}
.quiz-result .result{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
 
}
.quiz-result .comment{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.5;
  color: #7e5303;
}
.reset-btn{
  border-radius: 5px;
}
.reset-btn button{
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
  background-color:#994a06;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: bold;
  border-radius: inherit;
  color: #F0FFC3;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.reset-btn button:hover{
  background-color: #da8f03;
  transition: all 0.3s ease;
}