*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  width: 100%;
}
body{
  width: 100%;
  font-family: sans-serif;
  transition: 0.5s;
}
.main-container{
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section{
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  background-color: brown;
}
.main-section .color-code{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.main-section .color-code span{
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 600;
  color: white;
}
.main-section .btn{
  border-radius: 5px;
}
.main-section .btn button{
  width: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1px;
  padding: 1rem 0;
  border-radius: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
}